/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

span.navbar-title {
    font-family: monospace;
}

.navbar-brand>img {
    max-height: 100px;
    width: auto;
    padding-right: 6px;
}

.navbar-dark {
    background-color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-family: 'Press Start 2P';
}


#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 0;
    font-family: 'Press Start 2P';
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Press Start 2P';
}

h2.anchored {
  font-family: 'Press Start 2P';
}